<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>简历优化</title>
<!--css-->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/font-awesome.css" rel="stylesheet">
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="/js/main.js"></script>
<!--search jQuery-->

	<!--mycart-->
	<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
	<!-- cart -->
	<script src="/js/simpleCart.min.js"></script>
	<!-- cart -->
  
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="header-top">
			<div class="container" th:replace="qd_menu::mymenu0">
			</div>
		</div>
		<div class="heder-bottom">
			<div class="container" th:replace="qd_menu::mymenu1">
			</div>
		</div>
	</div>
		<!--header-->
	<div class="container">
		<!--content-->
		<div class="grid_1 grid_1">
			<h2>Service Description</h2>
			<ol class="breadcrumb">
				<li><a href="/user/all" class="">首页</a></li>
				<li class="active">服务说明</li>
			</ol>
		</div>
					<div class="mail-w3ls">
						<div class="container">
							<br>
							<div class="text-center" style="margin-bottom: 20px">
									<h2><p>HR专家</p></h2>
								<li>
									<h3><p>来自不同行业的HR,均有多年一线招聘,面试经验,并经过专业培训考核</p></h3>
								</li>
							</div>
							<br>
							<div class="container">
									<div class="row" style="text-align: center" >
										<div class="col-sm-3" style="text-align: center;padding: 20px;">
											<img  src="/images/opt1.png" alt="first-section-img" height="170px" width="140px">
											<div  style="text-align: left;">
												我是一名具备10年以上工作经验的知名跨国企业HR主管，擅长在线教育行业各岗位招聘，全国校园招聘负责人
											</div>
										</div >
										<div  class="col-sm-3" style="text-align: center;padding: 20px;">
											<img style="margin-bottom: 20px;"  src="/images/opt2.png" alt="first-section-img" height="150px" width="140px">
											<div  style="text-align: left;">
												我是一名具备7年以上知名国企招聘经理，曾多次为知名高校开展职业辅导讲座，有大型校园招聘经验
											</div>
										</div>
										<div  class="col-sm-3" style="padding: 20px;">
											<img style="text-align: center" src="/images/opt3.png" alt="first-section-img" height="170px" width="140px">
											<div style="text-align: left;">
												我是一名具备8年以上工作经验的外企招聘经理，为公司招募技术研发部门，电商运营部门，市场部门人员，具备丰富的招聘经验
											</div>
										</div>
										<div  class="col-sm-3" style="text-align: center;padding: 20px;">
											<img  src="/images/opt4.png" alt="first-section-img" height="170px" width="140px">
											<div  style="text-align: left;">
												我是一名具备5年以上工作经验的十强资产管理公司招聘主管，负责证券公司，基金管理公司，资产公司及地产金融控股平台的高端人才寻访，推荐，面试，入职等全流程工作
											</div>
										</div>
									</div>
								<br><br>
								<div class="text-center  ">
									<h2><p>简历优化服务流程</p></h2>
									<li>
										<h3><p>来自不同行业的HR,均有多年一线招聘,面试经验,并经过专业培训考核</p></h3>
									</li>
								</div>
								<br>
								<div class="container">
									<div class="panel panel-info">
										<!-- Default panel contents -->
										<div class="panel-heading"></div>
										<div class="panel-body">
											<p></p>
										</div>
										<table class="table table-hover">
											<tr>
												<th>第一步</th>
												<th>第二步</th>
												<th>第三步</th>
												<th>第四步</th>
												<th>第五步</th>
											</tr>
											<tr>
												<th><img src="/images/step1.png" alt="first-section-img" class="img-rounded" height="40px" width="40px"></th>
												<th><img src="/images/step2.png" alt="first-section-img" class="img-rounded" height="40px" width="40px"></th>
												<th><img src="/images/step3.png" alt="first-section-img" class="img-rounded" height="40px" width="40px"></th>
												<th><img src="/images/step5.png" alt="first-section-img" class="img-rounded" height="40px" width="40px"></th>
												<th><img src="/images/step4.png" alt="first-section-img" class="img-rounded" height="40px" width="40px"></th>
											</tr>
											<tr>
												<th>支付成功</th>
												<th>选择心仪的HR</th>
												<th>点击预约</th>
												<th>一对一简历优化</th>
												<th>给HR评分</th>
											</tr>
										</table>
									</div>
								<!--product-->
							</div>

							<!
								<div class="product-agile">
									<div class="container">
										<h3 class="tittle1">简历模板推荐</h3>
										<div class="slider">
											<div class="callbacks_container">
												<ul class="rslides" id="slider">
													<li>
														<div class="caption">
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/16.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/16.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/27.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/27.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/31.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/31.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/文艺清新单页04.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/文艺清新单页04.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="clearfix"></div>
														</div>
													</li>
													<li>
														<div class="caption">
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/文艺清新单页15.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/文艺清新单页15.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/文艺清新单页17.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/文艺清新单页17.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/14.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/16.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cap-left simpleCart_shelfItem">
																<div class="grid-arr">
																	<div class="grid-arrival">
																		<figure>
																			<a href="single.html">
																				<div class="grid-img">
																					<img src="/images/14.jpg" class="img-responsive" alt="">
																				</div>
																				<div class="grid-img">
																					<img src="/images/14.jpg" class="img-responsive" alt="">
																				</div>
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
															<div class="clearfix"></div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


	<div class="content">
		<!--contact-->

				<!--contact-->
		</div>
	</div>
		<!--content-->
		<!---footer--->

	<div class="footer-w3l"  style="padding: 15px">
		<div class="container" th:replace="qd_menu::mymenu2">
		</div>
	</div>
	<!---footer--->

</body>
</html>