<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>求职加油站支付中心</title>
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="/js/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <!--search jQuery-->
    <script src="/js/main.js"></script>
    <!--search jQuery-->

    <!--mycart-->
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="/js/simpleCart.min.js"></script>
    <!-- cart -->
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container" th:replace="qd_menu::mymenu0">
        </div>
    </div>
    <div class="heder-bottom">
        <div class="container" th:replace="qd_menu::mymenu1">

        </div>
    </div>
</div>
<!--header-->
<!--banner-->
<div class="container">
    <br>
    <div class="panel panel-success" style="margin-left:15%;margin-right:15%;">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3>求职加油站会员购买</h3>一次购买终身会员</div>
        <div class="panel-body">
            <div class="col-lg-10">
                <form class="form-horizontal" action="/pay/goPay" method="post">
                    <input type="hidden" name="WIDout_trade_no" th:value="${flw.id}">
                    <input type="hidden" name="WIDsubject" th:value="${flw.idName}">
                    <input type="hidden" name="WIDtotal_amount" th:value="${flw.sum}">
                    <input type="hidden" name="WIDbody" th:value="${flw.body}">
                    <div class="form-group">
                        <label for="out_trade_no" class="col-sm-2 control-label">订单号</label>
                        <div class="col-sm-10">
                            <span id="out_trade_no" th:text="${flw.id}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">订单名称</label>
                        <div class="col-sm-10">
                            <span id="subject" th:text="${flw.idName}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total_amount" class="col-sm-2 control-label">付款金额</label>
                        <div class="col-sm-10">
                            <span id="total_amount" th:text="${flw.sum}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body" class="col-sm-2 control-label">商品描述</label>
                        <div class="col-sm-10">
                            <span id="body" th:text="${flw.body}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">确定付款</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--banner-->
<!--content-->
<div class="content">
    <!--contact-->
    <!-- Button trigger modal -->
    <!--contact-->
</div>
<!--content-->
<!---footer--->
<div class="footer-w3l"  style="padding: 15px">
    <div class="container" th:replace="qd_menu::mymenu2">
    </div>
</div>
<!---footer--->
<!--copy-->
<!--copy-->
</body>
</html>