<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>mune</title>
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="/js/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <!--search jQuery-->
    <script src="js/main.js"></script>
    <!--search jQuery-->
</head>
<body>
<!-- 最顶端 -->
<div class="header-top" th:fragment="mymenu0" style="padding: 0px">
    <div class="container">
        <div class="top-left">
            <a >联系我们 : <i class="glyphicon glyphicon-phone" aria-hidden="true">134-3456-7389</i></a>
        </div>
        <div class="top-right">
            <ul>
                <li><a href="/user/login1">登录</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 导航栏 -->
<div class="heder-bottom" th:fragment="mymenu1" style="padding: 0px;">
    <div class="container">
        <div class="logo-nav">
            <div class="logo-nav-left">
                <h1><a>Find Job <span>Gas station</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/user/all" class="act">首页</a></li>
                            <!-- Mega Menu -->
                            <li><a href="/user/busy">简历模板</a></li>
                            <li><a href="/user/select_hr">HR推荐</a></li>
                            <li><a href="/user/optimize">服务说明</a></li>
                            <li><a href="/user/person_index">我的信息</a></li>
                            <li><a href="/user/liuy">留言板</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!---footer--->
<div class="container" th:fragment="mymenu2" style="padding: 0px">
    <div class="footer-grids"  style="padding: 15px" >
        <div class="col-md-3 footer-grid">
            <h4>关于</h4>
            <p>求职加油站致力于为广大求职者提供优质的简历模板，简历优化，简历定制等服务</p>
        </div>
        <div class="col-md-3 footer-grid">
            <h4>我的账号</h4>
            <ul>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/registered">注册 </a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid">
            <h4>菜单栏</h4>
            <ul>
                <li><a href="/user/all">首页</a></li>
                <li><a href="/user/busy">商务模板</a></li>
                <li><a href="/user/optimize">简历优化</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid foot">
            <h4>联系</h4>
            <ul>
                <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a>求职加油站,武汉,湖北</a></li>
                <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a>+134-3456-7389</a>
                </li>
                <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a> example@mail.com</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---footer--->
</body>
</html>