<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>会员充值</title>
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script src="/js/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <!--search jQuery-->
    <script src="/js/main.js"></script>
    <!--search jQuery-->

    <!--mycart-->
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="/js/simpleCart.min.js"></script>
    <!-- cart -->
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container" th:replace="qd_menu::mymenu0">
        </div>
    </div>
    <div class="heder-bottom">
        <div class="container" th:replace="qd_menu::mymenu1">

        </div>
    </div>
</div>
<!--header-->
<!--banner-->

<!--banner-->
<!--content-->
<div class="content">
    <!--contact-->
    <br>
    <div class="container">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading">会员充值</div>
            <div class="panel-body">
                <p>特权对比</p>
            </div>
                <table class="table table-hover">
                    <tr>
                         <th>功能特权</th>
                         <th>会员</th>
                         <th>非会员</th>
                     </tr>
                    <tr>
                        <th>简历模板使用</th>
                        <th><i class="fa fa-check" aria-hidden="true"></i></th>
                         <th><i class="fa fa-check" aria-hidden="true"></i></th>
                     </tr>
                     <tr>
                         <th>简历优化</th>
                         <th><i class="fa fa-check" aria-hidden="true"></i></th>
                         <th><i class="fa fancybox-error" aria-hidden="true"></i></th>
                     </tr>
                     <tr>
                         <th>简历定制</th>
                         <th><i class="fa fa-check" aria-hidden="true"></i></th>
                         <th><i class="fa fancybox-error" aria-hidden="true"></i></th>
                     </tr>
                    <tr>
                        <th>花费</th>
                        <th>98元</th>
                        <th>0元</th>
                    </tr>
                     <tr>
                         <th>开通会员</th>
                         <th><a href="/pay/index"><input class="btn btn-success" type="submit" value="开通会员"></a></th>
                     </tr>
                </table>
        </div>
        <!--product-->
    </div>
    <!--contact-->
</div>
<!--content-->
<!---footer--->
<div class="footer-w3l"  style="padding: 15px">
    <div class="container" th:replace="qd_menu::mymenu2">
    </div>
</div>
</body>
</html>