<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>HR注册 </title>
    <!--css-->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300'
          rel='stylesheet' type='text/css'>
    <!--search jQuery-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <!--search jQuery-->

    <!--mycart-->
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="/js/simpleCart.min.js"></script>
    <!-- cart -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#inputfile').change(function(){
                //获取input file的files文件数组;

                //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
                var file = $('#inputfile').get(0).files[0];
                //创建用来读取此文件的对象
                var reader = new FileReader();
                //使用该对象读取file文件
                reader.readAsDataURL(file);
                //读取文件成功后执行的方法函数
                reader.onload=function(e){
                    //读取成功后返回的一个参数e，整个的一个进度事件
                    console.log(e);
                    //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                    //的base64编码格式的地址
                    $('#imgshow').get(0).src = e.target.result;
                }
            })
            $('#inputfile1').change(function(){
                //获取input file的files文件数组;

                //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
                var file = $('#inputfile1').get(0).files[0];
                //创建用来读取此文件的对象
                var reader = new FileReader();
                //使用该对象读取file文件
                reader.readAsDataURL(file);
                //读取文件成功后执行的方法函数
                reader.onload=function(e){
                    //读取成功后返回的一个参数e，整个的一个进度事件
                    console.log(e);
                    //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                    //的base64编码格式的地址
                    $('#imgshow1').get(0).src = e.target.result;
                }
            })
            });
    </script>
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container" th:replace="hr_menu::mymenu3">
        </div>
    </div>
    <div class="heder-bottom">
        <div class="container" th:replace="qd_menu::mymenu1">

        </div>
    </div>
</div>
<div class="container">
    <div class="grid_1 grid_1">
        <ol class="breadcrumb">
            <li><a href="/user/all" class="">首页</a></li>
            <li class="active">HR注册</li>
        </ol>
    </div>
<!--banner-->
<!--banner-->

<!--content-->
<div class="content">
    <!--registered-->
    <div class="registered">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>欢迎HR注册</h3>
                <style>

                    input {
                        margin-right: 20px;
                    }

                    .red {
                        color: red;
                    }
                </style>
                <form action="/hr/addhr" method="post" enctype="multipart/form-data">

                    <p>
                        <label for="hr_name">姓名：</label>
                        <input type="text" id="hr_name"  name="hr_name" onblur="nameCheck()">
                        <span class="hr_name">请输入2~10位中文</span>
                    </p>
                    <br>
                    <p>
                        <label for="hr_account">账号：</label>
                        <input type="text" id="hr_account" name="hr_account" >
                        <span class="hr_account">请输入4-15位字母或数字组合</span>
                    </p>
                    <br>
                    <p>
                        <label >性别：</label>
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <label class="radio-inline">
                            <input type="radio" name="hr_sex" id="inlineRadio1" value="1"> 男
                        </label>
                        &nbsp  &nbsp  &nbsp
                        <i class="fa fa-female" aria-hidden="true"></i>
                        <label class="radio-inline">
                            <input type="radio" name="hr_sex" id="inlineRadio2" value="0"> 女
                        </label>
                    </p>
                    <br>
                    <p>
                        <label for="hr_tel">电话：</label>
                        <input type="text" id="hr_tel"  name="hr_tel" onblur="telCheck()">
                        <span class="hr_tel">11位数字组成</span>
                    </p>
                    <br>
                    <p>
                        <label for="hr_qq">Q  Q ：</label>
                        <input type="text" id="hr_qq"  name="hr_qq" onblur="qqCheck()">
                        <span class="hr_qq">请输入qq号</span>
                    </p>
                    <br>
                    <p>
                        <label for="hr_password">密码：</label>
                        <input type="password" id="hr_password" name="hr_password" onblur="passwordCheck()">
                        <span class="hr_password">请输入6-12位密码</span>
                    </p>
                    <div class="row">
                        <div class="col-sm-12">
                            证明材料上传
                            <div class="row">
                                <div class="col-xs-8 col-sm-6">
                                    <div class="key">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        <p>请上传证明材料</p>
                                        <p><img src="/images/zhengming.jpg" id="imgshow" class="img-thumbnail" width="200px" height="200px"></p>
                                        <input class="form-control" type="file" id="inputfile" name="filepic">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <div class="key">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        <p>请上传证明材料</p>
                                        <p><img src="/images/zhengming.jpg" id="imgshow1" class="img-thumbnail" width="200px" height="200px"></p>
                                        <input class="form-control" type="file" id="inputfile1" name="filepic1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>
                       <label>经历简介</label>
                        <textarea  name="hr_jl" class="form-control" rows="3"></textarea>
                    </p>
                    <br>
                    <br>
                    <p><input onclick="sub()" type="submit" value="注册"></p>
                    <br>
                    <br>
                    <div class="forg">
                        <a href="/user/login1" class="forg-left">登录</a>
                        <a href="/user/registered" class="forg-right">用户注册</a>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--login-->
</div>

    </div>
<script>
    function sub() {
        //如果全部输入正确返回成功  输入错误则输出提示
        if(nameCheck() && telCheck() && qqCheck() && passwordCheck()){
            alert('提交成功');
        }else{
            alert('你的输入有误，请按要求输入后再提交');
        }
    }
    //验证姓名字段
    function nameCheck() {
        let reg = /^[\u4e00-\u9fa5]{2,6}$/;
        let hr_name = $("#hr_name").val();
        if (!reg.test(hr_name) || hr_name=='') {
            $(".hr_name").html("<span class='red'>请输入2~6位中文</span>");
            return false;
        }else{
            $(".hr_name").text('√');
            return true;
        }
    }

    //验证电话
    function telCheck(str) {
        let reg = /^\d{11}$/;
        let hr_tel = $("#hr_tel").val();
        if(!reg.test(hr_tel) || hr_tel==''){
            $(".hr_tel").html("<span class='red'>请输入11位电话号码</span>")
            return false;
        }else{
            $(".hr_tel").text('√');
            return true;
        }
    }
    //验证qq字段
    function qqCheck(str) {
        let reg = /^[1-9][0-9]{4}/;
        let hr_qq = $("#hr_qq").val();
        if(!reg.test(hr_qq) || hr_qq==''){
            $(".hr_qq").html("<span class='red'>请输入正确的QQ号</span>")
            return false;
        }else{
            $(".hr_qq").text('√');
            return true;
        }
    }
    //验证密码字段
    function passwordCheck(){
        let reg = /^[\s\S]{6,12}/;
        let hr_password = $("#hr_password").val();
        if(!reg.test(hr_password) || hr_password==''){
            $(".hr_password").html("<span class='red'>请输入6-12位密码</span>");
            return false;
        }else{
            $(".hr_password").text('√');
            return true;
        }
    }
</script>
<script>
        //获取文本值
    var accountInput = document.getElementById("hr_account");
    //当文本框离开焦点后
    accountInput.onblur = function () {
        //获取account的值
        var account = accountInput.value;
        var reg = /^[a-zA-Z0-9]{4,15}$/;
        //如果Hr输入的账号不符合规则
        if (!reg.test(account)) {
            //给出Hr提示
            alert("请输入合法账号!");
            //阻止程序向下
            return;
        }
    }
</script>

<div class="footer-w3l"  style="padding: 15px">
    <div class="container" th:replace="qd_menu::mymenu2">
    </div>
</div>
</body>
</html>